//import de los tipos
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;900&display=swap');

*{
  font-family: 'M PLUS 1p', sans-serif;
}

//padding de seccion 
.section-ok{
  padding: 40vh 10vw;
}

//fondo
.bg-section-ok{
  background-image:linear-gradient(rgba(100, 84, 84, 0.5), rgba(110, 97, 97, 0.5)), url('/images/fondos/blurry.jpeg');
  background-position: center;
  background-size: cover;
}