//import de los tipos
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;900&display=swap');

*{
  font-family: 'M PLUS 1p', sans-serif;
}

//Estilos generales de todas las páginas

//padding de secciones

  //Sección de vista del landing(index)
.section-index{
  padding: 40vh 0vw;
}

  //Sección de vista de todas las localidades (index)
.section-towns{
  padding: 15vh 5vw;
}

  //Sección de vista de texto introductorio (index)
 .section-intro{
  padding-top: 25vh;
  padding-bottom: 25vh;
  padding-left: 50%;
  padding-right: 5vw;
}

//padding de objetos
.pad-item{
  padding-bottom: 10vh;
  padding-right: 1vw;
}

//imagenes de fondo
.bg-main{
  background-image: url('/images/fondos/fondo-main.jpeg');
  background-position: center;
  background-size: cover;
}

.bg-intro{
  background-image:linear-gradient(rgba(180, 170, 170, 0.5), rgba(8, 0, 0, 0.5)), url('/images/fondos/geisha-fondo.jpeg');
  background-position: center;
  background-size: cover;
}

//colores principales
.main-beige{
  background-color:#CAC2C1 ;
}
.footer-beige{
  background-color:#9d9796 ;
}

.main-beige-text{
  color:#CAC2C1 ;
}

.main-black{
  background-color:#1B1B1B ;
}

.main-black-text{
  color:#1B1B1B ;
}

.main-blue{
  background-color: #626e77;
}

.main-blue-text{
  color: #626e77;
}

//hover para las imagenes

.foto{
  
  img{
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    transition: 0.3s ease;
  }
  img:hover{
   transform: scale(1.1);
   
   
    
    
  }
  
  h4{
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  h4:hover{
    opacity: 1;
  }
  a{
    color: #CAC2C1;
    text-decoration: none;
  }
}

//REPONSIVE
//medias-queries

//tablets
@media screen and (width <= 991px){
  .foto{
    img:hover{
      transform: none;
    
     }
     h4{
      opacity: 1;
      
    }
  }
  .section-towns{
    padding: 10vh 5vw;
  }

}
//móviles
@media screen and (width <= 575px){
  //sección con nuestro objetivo
  .section-intro{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .bg-intro{
    background-image:linear-gradient(rgba(22, 21, 21, 0.804), rgba(8, 0, 0, 0.764)), url('/images/fondos/geisha-fondo.jpeg');
    background-position: center;
    background-size: cover;
  }
}
  
