//import de los tipos
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;900&display=swap');

*{
  font-family: 'M PLUS 1p', sans-serif;
}


//Estilos de la vista de una sola localidad

//padding de secciones

  //Sección de vista del landing(index)
  .section-index{
    padding: 40vh 0vw;
  }
  
    //Sección de vista de todas las localidades (index)
  .section-towns{
    padding-top: 10vh;
    padding-bottom: 15vh;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  
    
  
  //padding de objetos
  .pad-item{
    padding-bottom: 10vh;
    padding-right: 1vw;
  }
  
  
  
  
  
  //colores principales
  .main-beige{
    background-color:#CAC2C1 ;
  }
  .footer-beige{
    background-color:#9d9796 ;
  }
  
  .main-beige-text{
    color:#CAC2C1 ;
  }
  
  .main-black{
    background-color:#1B1B1B ;
  }
  
  .main-black-text{
    color:#1B1B1B ;
  }
  
  .main-blue{
    background-color: #626e77;
  }
  
  .main-blue-text{
    color: #626e77;
  }
  
  //estilos para las imagenes
  
  .foto{
    
    img{
      width: 100%;
      margin: 0 auto;
      border-radius: 5px;
      object-fit: cover;
      object-position: center;
      margin: 0 auto;
      
    }
   
    
    
    
  }

 

  //estilo para los botones
  .boton{
    background-color: #CAC2C1;
    border: solid #CAC2C1;
    color: white;
    border-radius: 5px;
    
    padding: 0.5vw;
    transition: 0.5s ease;
    
  }
  .boton:hover{
    background-color: #9d9796;
    border: solid #9d9796;
  }

  .boton2{
    
    background-color: #b16573;
    border: solid #b16573;
    color: white;
    border-radius: 5px;
    
    padding: 0.5vw;
    transition: 0.5s ease;
    
  }
  .boton2:hover{
    background-color: #7c4751;
    border: solid #7c4751;
  }

  //estilo para el div de la info
  .cont-info{
    width: 100%;
    background-color: #b4bec692;
    border-radius: 15px;
    padding: 5vh;
  }

  // Estilos para el formulario de creación de Lugares de interés
    //Padding de seccion 
    .section-form{
      padding-top: 15vh;
      padding-left: 20vw;
      padding-right: 20vw;
      padding-bottom: 5vh;
    }
        //Fondo de seccion 
    .bg-section-form{
      background-image: linear-gradient(rgba(147, 112, 112, 0.5), rgba(161, 132, 132, 0.5)), url('/images/fondos/place.jpeg');
      background-position: center;
      background-size: cover;
    
    }
    
        //Estilos del propio formulario
    .formulario{
      width: 60%;
      margin: 0 auto;
      background-color: #626e779c;
      border-radius: 5px;
      padding: 2vw;
      
      input{
        width: 100%;
      }
      
    }
    
//Color del message 

.msg{
  color: #b16573;
}
    

  //REPONSIVE
//medias-queries

//tablets
@media screen and (width <= 991px){
  
  .cont-info{
    margin-top: 4vh;
    padding: 3vh;
    button{
      margin: 1vh;
    }
  }
  
  .card{
    margin-bottom: 4vh;
  }
  .section-form{
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
    .formulario{
      width: 80%;
    }
  }
  
}
//móviles
@media screen and (width <= 575px){
  .section-towns{
    padding-top: 10vh;
    padding-bottom: 15vh;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .section-form{
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    .formulario{
      width: 100%;
    }
  }
  
}